.entete{
  background-color: rgba(255, 255, 255, 0.842);
}

body {
    padding: 20px;
    
    background-color: rgb(26, 24, 24);
    
    color: #fff;
    
   
    
}

header{
  width: 100%;
  /* height: 70px; */
  top: 0;
  left: 0;
  z-index: 5;
  background-color: #c62828;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 2px 4px rgba(44, 62, 80, 0.15);
  padding: 5px;
  
}

header input{
  
  width: 75%;
  margin: auto;
  height: 50px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
  border: 0px;
  text-indent: 20px;
  font-size: large;
  font-weight: 500;
  box-shadow: none;
  outline: none;
  padding: 0 60px 0 0;
  color: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
}

header input::-webkit-input-placeholder{
  color: rgba(255, 255, 255, 0.75);
}

header button{
  width: 50px;
  height: 50px;
  position: absolute;
  top: 110px;
  right: 110px;
  z-index: 2;
  background: #fff;
  border:0;
  box-shadow: none;
  outline: none;
  border-radius: 25px;
  
}
button span{
  font-size: 45px;
  align-content: center;
  color: #c62828;
}

.alire li, .lu li{
  width: 100%;
  min-height: 50px;
  float: left;
  font-size: x-large;
  font-weight: 500;
  color: #444;
  line-height: 22px;
  background: #fff;
  list-style: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  display: block;


}

li i {
  float: right;
  margin: 10px;

}

li i:hover {
  animation-name: rotation;
  animation-duration: 2s;
  cursor: pointer;

}

@keyframes rotation{
  0%{transform: rotate(20deg)};
  100%{transform: rotate(230deg)};
  
}

/* navbar */
.menu_img{
  display:block;
  width:auto;
  margin-left:auto;
  margin-right:auto;
  
}
/* navbar full css */

#navigation {
  margin: 0 ;
  padding: 0 ;
  list-style: none ;
  text-align: center ;
}

#navigation a {
  display: inline ;
  margin-right: 1px ;
  color: #fff ;
  background: #c00 ;
}
#navigation a {
  padding: 4px 20px ;
  background: #c00 ;
  color: #fff ;
  border: 1px solid #600 ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
}
#navigation a:hover, #navigation a:focus, #navigation a:active {
  background: #900 ;
  text-decoration: underline ;
}

#titre1,#titre2{
  visibility: hidden;
}